<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <title>{{title}}</title>
    {% endblock %}
</head>
<body>
	<div class="navbar">
		<a {% if tab=="index" %}class="active" {% endif %}href="index.html">Main</a>
		<a {% if tab=="parteien" %}class="active" {% endif %}href="parteien.html">Parteien</a>
		<a {% if tab=="pca" %}class="active" {% endif %}href="pca.html">PCA</a>
	</div>
	<div class="content">
		<h1>{{title}}</h1>
		{% block content %}{% endblock %}
	</div>
</body>
</html>

