{% set tab = "index" %}
{% set title = electionname %}
{% extends "base.html" %}
{% block content %}
{{resulttable|safe}}
<h3>Alle weiteren Ergebnisse ohne Briefwahlergebnisse!</h3>

Für die Anzahl Briefwähler pro Stimmbezirk wird Anteil der Wahlberechtigen mit Sperrverwerk W (ausgestellter Wahlschein) als Proxy für Briefwähler verwendet. <br />
Davon haben {{"{:.2%}".format(briefwahl_success)}} tatsächlich per Brief gewählt.

<br />

<h2>Wahlbeteiligung (inkl. geschätzten Briefwählern)</h2>
<img src="beteiligung.png" width=60%></img>

<h2>Anteil (geschätzter) Briefwähler</h2>
<img src="briefwahl.png" width=60%></img>

<h2>Wahlberechtigte pro Fläche (logarithmisch)</h2>
<img src="area.png" width=60%></img>

{% endblock %}
